{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body class="d-flex justify-content-center align-items-center vh-100" style="background-color:rgb(234, 237, 237);">
<div style="width:300px; height:350px;background-color:rgb(251, 252, 252);box-shadow:0px 0px 15px 2px rgb(234, 237, 237);">
<form method="post" class ="justify-content-center align-items-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

        <div class="row">
            <h1 style="font-family: 'Billabong', sans-serif; font-size: 50px;">Mon blog</h1>       
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-75 mb-4 mx-auto" autocomplete="email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control w-75 mb-3 mx-auto" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

             <button class="btn btn-lg btn-primary w-75 mx-auto" type="submit">
              Sign in
             </button>
        </div>
    </form> 
    </div>
</body>
{% endblock %}
